*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#000;
color:white;
font-family:'Bebas Neue', sans-serif;
}



/* HERO */

.hero{

height:90vh;

background:
linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.9)),
url(blackbg.jpg);

background-size:cover;
background-position:center;

display:flex;
flex-direction:column;

}



/* NAV */

nav{

display:flex;
justify-content:space-between;
padding:30px 80px;
align-items:center;

}

.logo{

font-size:45px;
letter-spacing:2px;

}

.logo span{

color:red;

}


.menu a{

margin-left:40px;
text-decoration:none;
color:white;
font-size:20px;

opacity:.8;

}

.menu a:hover{

opacity:1;

}



/* WHAZUP */

.hero-center{

flex:1;
display:flex;
align-items:center;
justify-content:center;

}

.hero-center h1{

font-size:120px;
letter-spacing:8px;

text-shadow:
0 0 20px red,
0 0 40px red;

}



/* GHOST */

.ghost-section{

display:flex;
justify-content:center;

margin-top:-120px;

}

.ghost{

width:350px;

filter:drop-shadow(0 0 40px black);

}



/* TRAILER */

.trailer{

padding:120px 20px;
text-align:center;

}

.trailer h2{

font-size:60px;
margin-bottom:40px;

}

.video{

display:flex;
justify-content:center;

}

.tagline{

margin-top:30px;
opacity:.7;
font-size:20px;

}



/* CAST */

.cast{

padding:120px 20px;
text-align:center;

}

.cast h2{

font-size:60px;
color:red;
margin-bottom:60px;

}

.cast-grid{

display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;

}

.person{

width:250px;

}

.person img{

width:100%;
border-radius:10px;

}

.person h3{

margin-top:15px;
font-size:28px;

}



/* FOOTER */

footer{

margin-top:100px;
padding:40px;
text-align:center;
background:#111;

opacity:.7;

}
